.selector-for-some-widget {
    box-sizing: content-box;
  }
  
  body {
    background-color: rgba(232, 201, 169, 50%);
  }
  
  .carousel {
    padding-top: 0.3rem;
  }
  
  .sidebar {
    background-color: rgba(207, 154, 99, 50%);
  }
  
  h1 {
    color: white;
  }
  
  .encabezado {
    background-color: #BF9B77;
    text-align: center;
    color: white;
  }
  
  h5, p {
    color: black;
  }
  
  .navbar {
    font-size: xx-large;
  }
  
  .cartas1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
    margin: auto;
  }
  
  .cartas2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
  }
  
  .card-img-top {
    height: 500px;
    object-fit: cover;
  }
  
  .tituloProductos {
    background-color: #BF9B77;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    opacity: 90%;
  }
  
  .card {
    height: 750px;
  }
  
  .card-body {
    background-color: #BF9B77;
    text-decoration: none;
  }
  
  .pagination {
    padding-top: 5rem;
  }
  
  .imagen-Features {
    width: 500px;
    height: 500px;
  }
  
  .featurette-divider {
    margin: 5rem 0;
  
    /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  .marketing .col-lg-4 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  
    p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
  }
  
  /* rtl:begin:ignore */
  
  main {
    padding: 2rem;
    margin: 2rem;
  }
  
  .carrito-Compras {
    color: black;
    opacity: 60%;
  }